*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 500px;
}

header{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
}

header .navbar {
   height: 170%;
   padding: 0.5rem;
   margin: auto;
   overflow: hidden;
   display: flex;
   font-size: 10.5px;
}

header .logo img {
    width: 40px;
    position: absolute; top: 4pt; left: 10pt; z-index: 100;
}

.nav-menu{
    display: flex;
    float: right;
   
}
.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: rgb(241, 142, 43)  !important;
    transition: .5s;
}

.nav-item{
    margin-right: -1.5rem
}

/* CSS */
.button-8 {
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  border: 1px solid rgb(241, 142, 43);
  box-sizing: border-box;
  color: rgb(251, 251, 251);
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 0;
  outline: none;
  padding: 8px .8em;
  text-align: center;
  position: absolute; 
  top: 14pt; 
  left: 50pt;
  z-index: 400;
 
}

.button-8:hover {
  background-color: #000000;
  color: rgb(241, 142, 43);
  transition: .5s
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
}

