.button5{
    background-color: rgb(249, 133, 0);/* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    transition: .3s;
  }
.button5:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(249, 133, 0);
 }

 
 .play {
    color: rgb(249, 133, 0);
    font-size: large;
}

.yo{
    color: white;
}

.tooltip {
    background-color: red;
    color: blue;
}